/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6e7d2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.header-title {
    font-size: 2em;
    color: #555; 
}

.logo {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}

.login-container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    color: #00796b; 
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.login-form button {
    background-color: #00796b; 
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-form button:hover {
    background-color: #004d40; 
}

.login-message {
    color: #795548; 
    margin-top: 10px;
}
nav {
    margin-top: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #00a692; 
    font-weight: bold;
}

nav a:hover {
    color: #004d40; 
}

.logout-container {
	text-align: center;
	margin-top: 20px;
}

.logout-container a {
	margin: 0 10px;
	text-decoration: none;
	color: #00a692;
	font-weight: bold;
	padding: 8px 16px;
	border: 1px solid #00a692;
	border-radius: 4px;
	background-color: #00a692;
	color: #fff;
	
}

.logout-container a:hover {
	background-color: #004d40;
	color: #fff;
	border: 1px solid #004d40;
}